/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

#backgr{
background-image: url('https://www.york.ac.uk/media/study/courses/undergraduate/electronics/EE-comp-BEng-ind.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}
.home-newsletter {
    padding: 80px 20;
    background: #d3a8a8;
    }

.home-newsletter .single {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2; }
.home-newsletter .single h2 {
    font-size: 22px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 40px; }
.home-newsletter .single .form-control {
    height: 50px;
    background: rgba(255, 255, 255, 0.6);
    border-color: transparent;
    border-radius: 20px 0 0 20px; }
.home-newsletter .single .form-control:focus {
    box-shadow: none;
    border-color: #243c4f; }
.home-newsletter .single .btn {
    min-height: 50px; 
    border-radius: 0 20px 20px 0;
    background: #243c4f;
    color: #fff;
    }

    .fa {  
        width: 25px;
        padding: 20px;
        font-size: 25px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        color: rgb(3, 70, 194);
        border-radius: 50%; 
      }

      .fa:hover {
          opacity: 0.7;
          color: red;
      }

      .fa-facebook {
        background: #3B5998;
      }

      .fa-twitter {
        background: #55ACEE;
      }


      .fa-instagram {
        background: #e970ac;
      }
      newsletter-follow{
          text-align: center;
      }
      .newsletter-follow li{
        display: inline-block;
        align-self: center;
      }
      .navbar-custom .navbar-nav .dropdown-menu  { 
        background-color: #33aa33;
      }
      .navbar-custom .navbar-nav .dropdown-menu>li>a  { 
        color: #fff;
      }
     /* Classe principale de la barre de navigation */
.navbar-default {
  /* Couleur de fond de la barre de navigation */
  background-color: #c92929;
  border-color: #dd1313;
 }
 /* Couleur des titres affichés dans la barre */
 .navbar-default .navbar-brand {
  color: rgb(216, 25, 25);
 }
 /* Couleur utilisée lors du passage de la souris sur un titre de la barre */
 .navbar-default .navbar-brand:hover,
 .navbar-default .navbar-brand:focus {
  color: #5E5E5E;
 }
 /* Couleur utilisée pour les liens */
 .navbar-default .navbar-nav > li > a {
  color: #777;
 }
 /* Couleur utilisée pour les liens lorsque la souris passe dessus */
 .navbar-default .navbar-nav > li > a:hover,
 .navbar-default .navbar-nav > li > a:focus {
  color: #333;
 }
 /* Couleur utilisée pour le lien actif (celui qui est affiché sur la page) */
 .navbar-default .navbar-nav > .active > a, 
 .navbar-default .navbar-nav > .active > a:hover, 
 .navbar-default .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #be2424;
 }
 /* Couleur utilisée pour un menu dépliant lorsqu'il est ouvert */
 .navbar-default .navbar-nav > .open > a, 
 .navbar-default .navbar-nav > .open > a:hover, 
 .navbar-default .navbar-nav > .open > a:focus {
  color: rgb(172, 16, 16);
  background-color: #e41f1f;
 }
 /* Caret */
 .navbar-default .navbar-nav > .dropdown > a .caret {
  border-top-color: rgb(124, 10, 10);
  border-bottom-color: rgb(158, 15, 15);
 }
 .navbar-default .navbar-nav > .dropdown > a:hover .caret,
 .navbar-default .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: rgb(156, 15, 15);
  border-bottom-color: rgb(151, 10, 10);
 }
 .navbar-default .navbar-nav > .open > a .caret, 
 .navbar-default .navbar-nav > .open > a:hover .caret, 
 .navbar-default .navbar-nav > .open > a:focus .caret {
  border-top-color: rgb(160, 20, 20);
  border-bottom-color: rgb(146, 19, 19);
 }
 /* Version mobile, le menu devient une icône qui déroule une liste avec le menu en vertical */
 .navbar-default .navbar-toggle {
  border-color: rgb(216, 27, 27);
 }
 .navbar-default .navbar-toggle:hover,
 .navbar-default .navbar-toggle:focus {
  background-color: rgb(243, 22, 22);
 }
 .navbar-default .navbar-toggle .icon-bar {
  background-color: rgb(214, 25, 25);
 }
 @media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: rgb(20, 187, 70);
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
  color: #333;
  }
 }
 #backgr{
   background-image:url("img/y");
 }